@include mobile{
	.mypage{background:#F8F7FB;}
}
.mybox{
	background:#F8F7FB; padding:24px 40px; margin-bottom:72px;
	.my-info{color:#6C6C71; font-size:24px; line-height:32px; padding-bottom:8px;
		.login-tit a{font-weight:600; color:#1B1B1F; padding-right:28px; background:url($--image-url+'/common/arrow-right.svg') right no-repeat; background-size:24px}
		.my-id{
			strong{font-weight:600; color:#1B1B1F; display:inline-block; max-width:248px; vertical-align:bottom; @include txt-hd;}
		}
		.my-level strong{font-family: "messapia"; color:$co-blue;}
	}
	.btn-myinfo{color:#6C6C71; font-size:12px; border:1px solid #E9E8EE; border-radius: 2px; line-height:32px; padding:0 12px;}
	.my-point{background:$co-w; border-radius: 2px; display: flex; margin-top:48px;
		li{width:50%; padding:12px 20px; font-size:12px; position:relative; color:#6C6C71;
			a{font-weight:600; font-size:16px; display:block; margin-top:2px; line-height:22px; color:$co-bk}
			&:first-child::after{content:""; position:absolute; right:0; top:24px; width:1px; height:13px; background:#E9E8EE}
		}
	}
	.staff-point{font-size:12px; padding-top:16px; display:flex;
		dt{color:#6C6C71}
		dd{color:#B5B4B9;
			strong{color:$co-bk; padding:0 2px}
		}
	}

	@include mobile{
		padding:56px 20px 16px; margin-bottom:0;
		.my-info{padding-bottom:16px; 
			.login-tit, .my-level{display:block;}
		}
		.staff-point{justify-content: center;}
	}
}

//pc 주문내역
.my-order{
	.my-order-tit{display:flex; justify-content: space-between; line-height:40px;
		h4{font-size:14px; font-weight:600;
			span{font-weight:400; font-size:12px; color:#B5B4B9; padding-left:8px}
		}
		.order-all{color:#B5B4B9; font-size:12px; padding:1px 20px 0 0; background:url($--image-url+'/common/ico-order-arrow.svg') right no-repeat; background-size:8px 12px}
	}
	@include mobile{display:none}
}
.my-order-box{display:flex; justify-content:center; gap:24px; align-items: center; border:1px solid #F2F1F7; border-radius:2px; height:104px; margin:16px 0;text-align:center; padding:0 40px;
	li{width:20%;color:#6C6C71;position:relative; font-size:12px;
		strong{display:block; font-weight:600; font-size:20px; color:$co-bk; line-height:26px; margin-bottom:4px}
		&::after{content:""; position:absolute; left:-25px; top:50%; width:24px; height:2px; background:url($--image-url+'/common/bg-dotted.svg') center no-repeat; }
		&:first-child::after{background:none}
	}
	@include tablet{padding:0 10px;}
	@include mobile{
		gap:10px; height:76px; margin:0; padding:0 10px;
		li{font-size:12px;
			strong{font-size:16px;}
			&::after{width:10px; left:-10px}
		}
	}
}
.my-order-detail{width:100%; font-size:12px; 
	th{background:#F8F7FB; height:40px;}
	td{text-align:center; padding:16px 0; line-height:18px;
		.order-num{background:url($--image-url+'/common/arrow-right.svg') right no-repeat; background-size:12px;padding-right:12px}
		.prod{text-align:left; display:flex; 
			.thum{width: 96px; flex-shrink: 0; }
			.info{padding:8px 12px 0;}
			a{display:block; line-height: 16px;
				&.brand{font-weight:600; font-size:14px;padding-top:6px; @include txt-hd2}
				&.brand-info{color:#6C6C71; margin:2px 0 12px; @include txt-hd2}
			}
			.brand-size{color:#6C6C71; font-weight:600;}
		}
		strong{font-weight:600}
		.btn-status{color:$co-blue; text-decoration: underline;}
		.prod-btn{gap:8px;
			li{margin-top:4px; 
				&:first-of-type{margin-top:0;}
				button{font-size:12px; width:80px; height:32px;}
				.btn-white{color:#6C6C71; border-color:#F2F1F7}
			}
			
		}
		.no-data{line-height:180px; font-size:14px; color:#B5B4B9; }
	}
	.last-item{border-bottom:1px solid #F2F1F7; }
}

// mo 마이페이지 메뉴
.mypage-mob{
	.mypage-nav{padding:24px 20px; border-bottom:1px solid #F2F1F7;
		&:last-of-type{border-bottom:none}
	}
	h4{line-height:56px; font-size:16px; font-weight:600; }
	@include desktop{display:none}
	@include tablet{display:none}
	.mypage-nav-list{
		a{line-height:48px; display:block; font-size:14px;}
	}
	.side-logout{padding:0 20px}
}

// 회원등급
.member-grade{
	.my-grade{display:flex; flex-direction: column; text-align: center;
		.lv{font-size:20px; font-weight:600; 
			a{display:inline-block; width:20px; height:20px;background:url($--image-url+'/my/ico-question.svg') no-repeat; background-size:100%; vertical-align:16px; margin-left:3px; @include txt-blind}
		}
		strong{font-family: "messapia"; font-size:32px; color:#1B1B1F; padding:5px 0 16px;}
		.benefit{color:#6C6C71; font-size:14px; line-height:18px; padding-bottom:348px; position:relative;
			&::after{content:""; position:absolute; left:50%; top:73px; width:371px; height:272px; background:url($--image-url+'/my/img-grade-coupon.svg') no-repeat; background-size:100%; transform:$tlx; }
		}
		button{width:480px; margin:0 auto; }
		.lv-history{background:#F8F7FB; padding:24px 20px; display:flex;  justify-content: space-between; flex-wrap: wrap; margin-top:24px;
			dt,dd{color:#6C6C71; padding-top:20px;}
			dt{text-align:left; width:35%; letter-spacing: -0.5px;
				&:first-of-type{border-bottom:1px solid #F2F1F7; padding:0 0 20px;}
			}
			dd{text-align:right; font-weight:600; width:65%;
				&:first-of-type{border-bottom:1px solid #F2F1F7; padding:0 0 20px;}
			}
		}

		@include mobile{
			padding:0 20px 24px; border-bottom:1px solid #F2F1F7; 
			.lv{font-size:16px; margin-top:16px;
				a{vertical-align: 15px;}
			}
			.benefit{padding-bottom:248px;
				&::after{width:247px; height:181px;}
			}
			button{width:auto;}
			.lv-history{padding:16px;}
		}
	}

	.modal-layer{
		.lv-info{
			li{font-size:16px; line-height:24px; padding:0 0 12px 18px; position:relative; color:#6c6c71;
				&::after{content:""; width:3px; height:3px; position:absolute; left:5px; top:8px; border-radius:50%; background:#6c6c71}
			}
		}

		@include mobile{
			.modal-content{padding-bottom:20px; height:auto;}
			.lv-info{
				li{font-size:14px; line-height:22px;}
			}
		}
	}

	.member-benefit{padding-top:72px;
		h5{line-height:56px; font-size:16px; font-weight:600;}
		.summary{padding:17px 0; font-size:20px; font-family: messapia; border-bottom:1px solid #3A3A3E;
			&::after{display:none;}
		}
		.details{
			.benefit-info{color:#6C6C71;
				dt{font-weight:600; font-size:12px; 
					&:last-of-type{padding-top:24px;}
				}
				dd{padding:0 0 0 23px; position:relative; font-size:14px;
					&::after{content:""; position:absolute; left:10px; top:9px; width:3px; height:3px; background:#6C6C71}
				}
			}
		}
		
		@include mobile{
			padding:49px 20px 0px;
			.summary{margin:0;}
			.details{
				&.show{padding:24px 20px;}
			}
		}
	}

	.caution-txt{background:#F8F7FB; padding:35px 20px; margin-top:100px;
		dt{font-weight:600; font-size:14px;}
		dd{color:#6C6C71; line-height:20px; padding:12px 0 0 23px; position: relative;
			&::after{content:""; position:absolute; left:10px; top:20px; width:3px; height:3px; background:#6C6C71}
		}
	}
}
// html {scroll-behavior: smooth;}


/* 마일리지 */
.mileage-wrap {
    .div_line {display:block; height:1px; margin:24px 0; border-top:0; border-bottom:1px solid #F2F1F7;}

	@include mobile {
		& {padding:16px 20px;}
		.div_line {margin:24px -20px;}
	}

    // 사용가능 마일리지 영역
    .my-mileage {
        .my_use {margin-bottom:48px; text-align:center;
            .my_use_tit {padding:15px 0 20px; line-height:22px;
                .tx_tit {display:inline-block; font-size:20px; font-weight:600; color:$co-bk; line-height:26px; vertical-align:middle;}
				a {display:inline-block; position:relative; top:-3px; width:20px; height:20px; margin-left:6px; font-size:0; background:url($--image-url+'/my/ico-question.svg') no-repeat; background-size:100%;}
            }
            .my_use_m {display:block; font-weight:600; font-size:32px; line-height:36px; color:#1b1b1f;
                &::after {content:"M"}
            }

			@include mobile {
				& {margin-bottom:16px; text-align:left;
					.my_use_tit {padding:0;
						.tx_tit {font-size:16px; line-height:22px; letter-spacing:-0.2px;}
						a {margin-left:0;}
					}
					.my_use_m {margin-top:8px; font-size:24px; line-height:32px;}
				}
			}
        }

		// 적립예정, 적립누적, 사용누적 마일리지
		.my_history {background:#F8F7FB; padding:24px 20px; display:flex; justify-content: space-between; flex-wrap: wrap;
			dl {font-size:14px; color:#6C6C71;}
			dt,dd{color:#6C6C71; padding-top:20px; line-height:18px;}
			dt{text-align:left; width:35%; letter-spacing: -0.5px;
				&:first-of-type{border-bottom:1px solid #F2F1F7; margin-bottom:0; padding:0 0 20px;}
			}
			dd{text-align:right; width:65%; font-weight:600;
				&:first-of-type{border-bottom:1px solid #F2F1F7; margin-bottom:0; padding:0 0 20px;}
			}

			@include mobile {
				& {background:#F8F7FB; padding:16px; display:flex; justify-content: space-between; flex-wrap: wrap;
					dl {font-size:14px; color:#6C6C71;}
					dt,dd{color:#6C6C71; padding-top:8px; line-height:18px;}
					dt{text-align:left; width:35%; letter-spacing: -0.5px;
						&:first-of-type{border-bottom:1px solid #F2F1F7; margin-bottom:8px; padding:0 0 16px;}
					}
					dd{text-align:right; font-weight:600; width:65%;
						&:first-of-type{border-bottom:1px solid #F2F1F7; margin-bottom:8px; padding:0 0 16px;}
					}
				}
			}
		}
    }

	// 회원등급 기준안내 레이어
	.modal-layer{
		.modal-content {padding:30px 0 0;
			h2 {padding: 0 32px;}
			@include mobile {
				h2 {padding: 0 20px;}
				.btn-close {display:none;}
			}

			// TAB @_common.scss 참조 
			.tab {padding:8px 32px 7px; border-bottom:1px solid #F2F1F7;
				.tab-row {display:flex; justify-content: space-around; padding: 0 20px;
					.tab-item {flex:1 0 auto; padding:0; 

						&+.tab-item::before {content:""; position:absolute; top:50%; left:0; z-index:0; width:1px; height:16px; margin-top:-8px; background-color:#F2F1F7;}
						&.on {
							&::before, &::after {content:""; position:absolute; top:50%; width:2px; z-index:1; height:16px; margin-top:-8px; background-color:$co-bk;} 
							&::before {left:-1px;}
							&::after {right:-1px;}
						}
					}
				}

				@include mobile {
					& {padding: 8px 20px 7px;
						.tab-row {padding:0;
							.tab-item {flex:1 0 auto;}		
						}
					}
				}
			}

			.modal-body {padding:15px 0 20px; /*transition:all .3s ease-in-out;*/
				// @include desktop {
				// 	& {height:420px;}
				// }
				.info-group{padding: 0 20px;
					.tx_tit {padding:17px 0; font-weight:600; font-size:16px; line-height:22px; color:$co-bk;}
					li{font-size:14px; line-height:22px; padding:0 0 12px 18px; position:relative; letter-spacing:-0.2px; color:#6c6c71;
						&::after{content:""; width:3px; height:3px; position:absolute; left:5px; top:8px; border-radius:50%; background:#6c6c71}
					}
				}
			}

			@include mobile{
				& {padding-bottom:20px; height:auto;}
				.lv-info{
					li{font-size:14px; line-height:22px;}
				}
			}
		}
	}

    // 마일리지 히스토리 영역 
    .my-history {
        .tx_tit {display:block; height:56px; padding:17px 0; font-size:16px; font-weight:600; color:$co-bk; line-height:22px; letter-spacing:-0.2px;}

        .calendar {
            .calendar_inner {display:flex; justify-content:flex-end; margin-bottom:16px;
                >label {position:relative;
                    input {width:100%; height:40px; padding:0 30px 0 12px; border:1px solid #E9E8EE; font-size:14px; letter-spacing:-.2px; color:$co-bk;}
                    
                    &::after {content:""; display:block; position:absolute; top:12px; right:10px; width:16px; height:16px; background:url($--image-url+"/common/ico_cal@16x16.svg") center no-repeat;}

                    &+label::before {content:"-"; position:absolute; top:0; left:-16px; width:16px; line-height:40px; font-size:12px; color:#000; text-align:center;}
                }
                >label + label {margin-left:16px;}
                .btn {margin-left:8px; white-space:nowrap;}
            }

            .tx_info {display:none;}


			@include mobile {
				.calendar_inner {justify-content:flex-start; margin-bottom:8px;}
				.tx_info {display:block; font-size:12px; line-height:20px; letter-spacing:-0.2px; color:#b5b4b9;}
			}
        }
        
        .history {
            .filter-chip {padding:16px 0;}

            &list {
                >li {display:flex; justify-content: space-between; align-items:center; padding:18px 0 17px; gap:16px;
                    &+li {border-top:1px solid #f2f1f7;}

                    .tx_nm {margin-bottom:4px; font-weight:600; font-size:16px; line-height:22px; letter-spacing:-0.2px; color:$co-bk;}
                    .tx_domain {margin-bottom:6px; font-weight:400; font-size:14px; line-height:18px; letter-spacing:-0.2px; color:#6c6c71;}
                    .tx_date {font-weight:400; font-size:14px; line-height:16px; letter-spacing:-0.2px; color:#B5B4B9;}
                    .tx_mile {font-weight:600; font-size:16px; line-height:22px; letter-spacing:-0.2px; color:#b5b4b9; white-space:nowrap;
                        &::after {content:"M"}
                        &.minus::before {content:"-"}
                        &.plus {color:#0000F0;}
                        &.plus::before {content:"+"}
                    }
                }

				@include mobile {
					>li {
						.tx_domain {line-height:22px;}
					}
				}
            }
        }
    }
}