//notice, faq
.mypage-list{
	li{
		.title{position:relative; font-weight:600; display:block; padding:18px 24px 22px; cursor:pointer;
			&::after{content:"Q."; position:absolute; left:0; top:19px; color:#B5B4B9; font-size:16px;}
		}
		.text{color:#6C6C71;  padding: 0px 20px; line-height: 23px; font-size: 14px; background-color: #F8F7FB; 
			&.show{padding: 25px 20px;}
		}
	}
	 
	@include mobile{
		li{
			.title{font-size:rem(16px); padding:rem(18px) rem(24px);
				&::after{font-size:rem(16px); top:rem(18px);}
			}
			.text{font-size:rem(14px); line-height:rem(22px); padding: 0px rem(20px);
				&.show{padding: rem(25px) rem(20px);}
			}
		}
	}
}

.accordion{
	.accIcon{position:absolute; right:0; top:24px; width:9.5px; height: 9.5px; display: flex; margin-top: -3px; align-items: center; justify-content: center;
		&:before{width: 1.32px; height: 9.5px;}
		&:after{width: 9.5px; height: 1.32px;}
		&:before, &:after{content:''; position: absolute; background-color: #3A3A3E; transition: ease 0.3s all;}
		&.anime.accIcon:before {
			transform: rotate(90deg);
		}
	}
	.text{opacity: 0; height: 0; position: relative; transition: all 0.6s cubic-bezier(.42,.2,.08,1);overflow: hidden; 
		&.show{opacity: 1; height: auto;}
	}

	@include mobile{
		.accIcon{top:rem(26px); width:rem(10px); height:rem(10px); margin-top:rem(-3px);
			&:before{width: rem(1px); height: rem(10px);}
			&:after{width: rem(10px); height: rem(1px);}
		}
	}
}