.search-area{
	.search-dim{width:100%; height:100%; background:rgba(0,0,0,.5); position:fixed; left:0; top:0;}
	.search-back{width:100%; height:747px; position:fixed; left:0; top:0; background:$co-w; padding:80px 0; z-index:12;}
	.btn-close{position:absolute; right:0px; top:-50px; width:24px; height:24px;
		&::after, &::before{left:10px; top:0px; content:""; height:24px; width:2px; background:#B5B4B9}
	}
	.search-box{width:688px; margin:0 auto; position:relative;
		.no-msg{color:#B5B4B9; line-height:32px; margin-bottom: 48px;}
		input{margin-bottom:24px;}
		.btn-delet{display:none; position:absolute; right:12px; top:12px; background:url($img-common+'ico-search-del.svg'); background-size:100%; width:15px; height:15px; @include txt-blind;}
		.tit{display:flex;justify-content: space-between; align-items: center; height:48px; 
			h3{color:#6C6C71; font-weight:600; font-size:14px}
			span, a{font-size:12px; color:#B5B4B9}
			.rank-more{display:none;}
		}
		.ranking{webkit-column-count: 2; -moz-column-count: 2; column-count: 2; list-style: none; margin-bottom:48px;
			li{display:flex; justify-content:space-between; line-height:34px;
				&:nth-child(-n+5){margin-right:40px}
				&:nth-child(n+6){margin-left:40px}
				em{width:26px; font-weight:600; color:#3A3A3E}
				a{width:228px; @include txt-hd; color:#6C6C71;}
				span{width:45px; font-size:10px; text-align: right; color:#B5B4B9;
					&.up{color:#0000F0; background:url($img-common+'ico-up.svg') 22px 14px no-repeat; background-size:8px 4px; }
					&.down{background:url($img-common+'ico-down.svg') 22px 14px no-repeat;background-size:8px 4px;}
					&.same{background:url($img-common+'ico-same.svg') 38px 16px no-repeat; background-size:6px 1px; @include txt-blind;}
					&.new{color:#0000F0; font-size:10px; font-weight:600}
				}
			}
		}
		.chip-list{display:flex; flex-wrap: wrap; gap:8px; margin-bottom: 48px;
			li{position:relative; background:#F8F7FB; display:flex; justify-content: space-between; align-items: center;
				a{padding:8px 16px; border-radius:2px; max-width:680px; @include txt-hd}
				.btn-close{position:relative; width:15px; height:25px; top:0; right:10px;
					&::after, &::before{right:0px; top:6px; content:""; height:12px; width:1px; background:#D9D8DD}
				}
			}
		}
		.header-sub{
			.btn-back, ul{display:none}
		}
		.search-autocomplete{display:none; width:768px; height:625px; z-index: 13; position:absolute; left:50%; top:40px; background:#fff; transform: $tlx;
			ul{padding:24px 40px;
				li{line-height:42px; display: flex; justify-content: space-between; align-items: center;
					.keyword{color:#6C6C71; @include txt-hd; width:590px;
						strong{color:#3A3A3E; font-weight:600; padding-left:24px; background:url($img-common+'ico-search-brd.svg') left top 2px no-repeat; background-size:13px;}
						.mark{color:#0000F0 !important}
					}
					.more{width: 60px;
						a{color:#B5B4B9; padding-right:23px; background:url($img-common+'ico-arrow_right.svg') right top no-repeat; background-size:16px;}
					}
				}
				&+ul{border-top:1px solid #F2F1F7}
			}
		}
	}

	@include mobile{
		.btn-close{display:none;}
		.search-back{padding:rem(72px) rem(20px); height:100%; overflow:auto;}
		.search-box{width:100%;
			.no-msg{line-height:rem(32px); margin-bottom: rem(48px); font-size:rem(14px)}
			input{margin-bottom:0;}
			.btn-delet{right:rem(68px); top:rem(20px); width:rem(15px); height:rem(15px)}
			.header-sub{
				.btn-back, ul{display:block;}
			}
			.tit{height:rem(48px);
				h3{font-size:rem(14px)}
				span, a{font-size:rem(12px)}
				span{padding-right:rem(23px); position:relative;}
				.rank-more{display:block; position:absolute; right:0; top:0; width:rem(16px); height:rem(16px); background:url($img-common+'ico-search-arrow.svg') right top no-repeat; background-size:100%; @include txt-blind;
					&.on{transform: rotate(-180deg);}
				}
			}
			.ranking{webkit-column-count:1; -moz-column-count:1; column-count:1; height:rem(34px); overflow:hidden;
				&.on{overflow:auto; height:auto;}
				li{line-height:rem(34px);
					&:nth-child(-n+5), &:nth-child(n+6){margin:0}
					em{width:rem(26px); font-size:rem(14px); }
					a{font-size:rem(14px); width:100%;}
					span{width:rem(45px); font-size:rem(10px);
						&.up{background-position:rem(16px) rem(14px); background-size:rem(8px) rem(4px)}
						&.down{background-position:rem(16px) rem(14px); background-size:rem(8px) rem(4px)}
						&.same{background-position:rem(30px) rem(14px); background-size:rem(6px) rem(1px)}
						&.new{font-size:rem(10px)}
					}
				}
			}
			.chip-list{font-size:rem(14px); gap:rem(8px); margin-bottom: rem(48px);
				&.recent{flex-wrap:nowrap; overflow: auto;white-space: nowrap; padding-bottom:rem(10px)}
				li{
					a{padding:rem(8px) rem(16px); border-radius:rem(2px); max-width:rem(320px)}
					.btn-close{display:block; width:rem(15px); height:rem(25px); right:rem(10px);
						&::after, &::before{top:rem(6px); height:rem(12px); width:rem(1px); }
					}
				}
			}
			.search-autocomplete{position:fixed;top:rem(56px); left:0; width:100%; height:100%; overflow:auto; transform: none;
				ul{padding:rem(24px) rem(20px);
					li{line-height:rem(42px);
						.keyword{font-size:rem(14px); width:80%;
							strong{padding-left:rem(24px); background-position:left top 0.2rem; background-size:rem(13px); }
						}
						.more{width:rem(60px);
							a{padding-right:rem(23px); background-size:rem(16px); font-size:rem(12px)}
						}
					}
				}
			}
		}
	}

}
