<header class="page-header">
	<section class="top-menu">
		<h1><a href=“javascript:;”>HANSTYLE</a></h1>
		<ul class="util">
			<li><a href="javascript:;">DESIGNER</a></li>
			<li><a href="javascript:;">LIKE</a></li>
			<li><a href="javascript:;">MY</a></li>
		</ul>
	</section>
	
	<nav class="service-gnb">
		<ul class="gnb">
			<li><a href="javascript:;">여성</a>
				<div class="snb-menu">
					<ul>
						<li><a href="javascript:;"><strong>전체보기</strong></a></li>
						<li><a href="javascript:;"><strong>신상품</strong></a></li>
						<li><a href="javascript:;">SHOES</a></li> 
						<li><a href="javascript:;">CLOTHING</a></li> 
						<li><a href="javascript:;">ACCESSORIES</a></li> 
					</ul>
					<ul>
						<li><a href="javascript:;"><strong>전체보기</strong></a></li>
						<li><a href="javascript:;"><strong>신상품</strong></a></li>
						<li><a href="javascript:;">SHOES</a></li> 
						<li><a href="javascript:;">CLOTHING</a></li> 
						<li><a href="javascript:;">ACCESSORIES</a></li> 
					</ul>
				</div>
			</li>
			<li><a href="javascript:;">남성</a>
				<div class="snb-menu">
					<ul>
						<li><a href="javascript:;"><strong>남성</strong></a></li>
						<li><a href="javascript:;"><strong>신상품</strong></a></li>
						<li><a href="javascript:;">SHOES</a></li> 
						<li><a href="javascript:;">CLOTHING</a></li> 
						<li><a href="javascript:;">ACCESSORIES</a></li> 
					</ul>
				</div>
			</li>
			<li><a href="javascript:;">키즈</a></li>
			<li><a href="javascript:;">라이프</a></li>
			<li><a href="javascript:;">아울렛</a></li>
			<li><a href="javascript:;">빈티지</a></li>
			<li><a href="javascript:;">리미티드</a></li>
		</ul>
	</nav>
</header>