<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="author" content="한스타일, 리앤한, HANSTYLE">
	<meta name="Title" content=" HANSTYLE.com, 한스타일 해외 브랜드 온라인 편집몰">
	<meta name="description" content="HANSTYLE.com, 한스타일 해외 브랜드 온라인 편집몰">
	<meta property="og:type" content="website">
	<meta property="og:title" content="HANSTYLE.com, 한스타일 해외 브랜드 온라인 편집몰">
	<meta property="og:image" content="https://img.ihanstyle.com/images/hsweb/common/kakaotalk_thum2.png">
	<meta property="og:url" content=" https://shop.ihanstyle.com">
	<meta property="og:description" content="럭셔리 해외 브랜드 온라인 편집몰">
	<meta property="og:locale" content="ko_KR">
	<meta property="og:site_name" content="한스타일 | HANSTYLE.com">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>HANSTYLE Admin</title>
	
	<link rel="shortcut icon" href="//img.ihanstyle.com/images/hsmob/hsmob_favicon.ico">
	<link rel="stylesheet" type="text/css" href="../css/main.css?cVer=20230316">
</head>

<div class="app-wrapper">
	<!-- 상단 공통 영역 -->
	<section include-html="../layout/header.html"></section>

	<section class="contents">
		<!-- gnb -->
		<input class="nav-check" type="checkbox" id="nav-check" /><label class="nav-icon" for="nav-check"><span class="nav-sticks"></span></label>
		<aside class="side-navigation">
			<a href="javascript:;" class="nav-setting">메뉴설정</a>
			<div class="lnb">
				<ul>
					<li>
						<a href="javascript:;">상품/전시</a>
						<ul>
							<li>
								<a href="javascript:;">2Depth</a>
								<ul>
									<li><a href="javascript:;">3Depth</a></li>
									<li><a href="javascript:;">3Depth</a></li>
									<li><a href="javascript:;">3Depth</a></li>
								</ul>
							</li>
							<li>
								<a href="javascript:;">2Depth</a>
								<ul>
									<li><a href="javascript:;">3Depth</a></li>
									<li><a href="javascript:;">3Depth</a></li>
								</ul>
							</li>
							<li><a href="javascript:;">2Depth</a></li>
							<li><a href="javascript:;">2Depth</a></li>
						</ul>
					</li>
					
					<li>
						<a href="javascript:;">주문/배송</a>
						<ul>
							<li>
								<a href="javascript:;">메뉴명이 길어진다면 두줄이겠지</a>
								<ul>
									<li><a href="javascript:;">메뉴명이 길어진다면 두줄이겠지</a></li>
									<li><a href="javascript:;">3Depth</a></li>
								</ul>
							</li>
							<li>
								<a href="javascript:;">2Depth</a>
								<ul>
									<li><a href="javascript:;">3Depth</a></li>
									<li><a href="javascript:;">3Depth</a></li>
									<li><a href="javascript:;">3Depth</a></li>
								</ul>
							</li>
						</ul>
					</li>
					
					<li>
						<a href="javascript:;">회원</a>
						<ul>
							<li><a href="javascript:;">2Depth</a></li>
							<li><a href="javascript:;">2Depth</a></li>
						</ul>
					</li>
					
					<li>
						<a href="javascript:;">영업관리</a>
					</li>

					<li>
						<a href="javascript:;">정산</a>
					</li>

					<li>
						<a href="javascript:;">통계</a>
					</li>

					<li>
						<a href="javascript:;">오프통계</a>
					</li>

					<li class="on">
						<a href="javascript:;">게시판</a>
						<ul>
							<li><a href="javascript:;">공지사항</a>
								<ul>
									<li><a href="javascript:;">사이트 공지</a></li>
									<li><a href="javascript:;">내부 공지</a></li>
								</ul>
							</li>
							<li><a href="javascript:;">FAQ</a></li>
							<li><a href="javascript:;">배너관리</a></li>
						</ul>
					</li>

					<li>
						<a href="javascript:;">영업망관리</a>
					</li>

					<li>
						<a href="javascript:;">기준정보</a>
					</li>

					<li>
						<a href="javascript:;">시스템</a>
					</li>

					<li>
						<a href="javascript:;">위탁판매</a>
					</li>

					<li>
						<a href="javascript:;">파트너</a>
					</li>
				</ul>
			</div>
		</aside>
		<!--// gnb -->

		<!-- content-->
		<span class="nav-category">게시판 &gt;<strong>FAQ</strong></span>
		<section class="content-area">
			<h3>FAQ</h3>
			<!-- 텍스트 샘플
			<p class="caution-txt">조회되지 않을 경우 샘플 텍스트 영역입니다.</p>   -->

			<div class="box">
				<ul class="form-type w-3">
					<li><span>FAQ유형</span>
						<select class="custom-select">
							<option>전체</option>
							<option>[10] 배송</option>
							<option>[20] 취소,교환,반품,AS</option>
							<option>[30] 주문/결제</option>
							<option>[55] 멤버십</option>
							<option>[60] 포인트/쿠폰</option>
							<option>[70] 상품권/기타</option>
						</select>
					</li>
					<li><span>질문</span><input type="text" class="txt" /></li>
					<li><span>사용여부</span>
						<select class="custom-select">
							<option>전체</option>
							<option>[Y]Yes</option>
							<option>[N]No</option>
						</select>
					</li>
				</ul>
			</div>

			<div class="btn-area">
				<button type="button" class="btn">조회</button>
				<button type="button" class="btn btn-white">엑셀다운로드</button>
			</div>

			<div class="box">
				<!-- faq list -->
				<div class="table-type mt20">
					<table>
						<colgroup>
							<col width="5%">
							<col width="12%">
							<col width="*">
							<col width="7">
							<col width="7%">
							<col width="7%">
							<col width="10%">
							<col width="7%">
							<col width="10%">
						</colgroup>
						<thead>
							<tr>
								<th scope="col">FAQ번호</th>
								<th scope="col">FAQ유형</th>
								<th scope="col">질문</th>
								<th scope="col">조회수</th>
								<th scope="col">사용여부</th>
								<th scope="col">등록자</th>
								<th scope="col">등록일시</th>
								<th scope="col">수정자</th>
								<th scope="col">수정일시</th>
							</tr>
						</thead>
						<tbody>
							<script>
								for(var f=1; f < 10; f++){
									document.write('<tr>');
									document.write("<td>"+ (f) +"</td>"); 
									document.write("<td>"+ '[70] 상품권/기타'+"</td>");
									document.write("<td class='align-left'>"+ '<a href="#">선물포장이 가능한가요?</a>'+"</td>"); 
									document.write("<td>"+ '0' +"</td>"); 
									document.write("<td>"+ '<label class="inp"><input type="checkbox"><span class="checkmark"></span></label>'+"</td>");
									document.write("<td>"+ '최민경'+"</td>");
									document.write("<td>"+ '2023-03-16 14:31'+"</td>");
									document.write("<td>"+ '최민경'+"</td>");
									document.write("<td>"+ '2023-03-17 14:31'+"</td>");
									document.write('</tr>');
								}
							</script>
							<tr>
								<td>10</td>
								<td>[70] 상품권/기타</td>
								<td class="align-left"><a href="#">쿠폰을 사용한 주문을 취소, 반품할 경우 쿠폰이 재발행되나요?</a></td>
								<td>0</td>
								<td>
									<label class="inp"><input type="checkbox" checked="checked"><span class="checkmark"></span></label>
								</td>
								<td>최민경</td>
								<td>2023-03-16 14:31</td>
								<td>최민경</td>
								<td>2023-03-17 14:31</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul class="pagination">
					<li class="first"><a href="javascript:;">처음으로</a></li>
					<li class="prev"><a href="javascript:;">이전</a></li>
					<li><a href="javascript:;">1</a></li>
					<li class="active"><a href="javascript:;">2</a></li>
					<li><a href="javascript:;">3</a></li>
					<li><a href="javascript:;">4</a></li>
					<li><a href="javascript:;">5</a></li>
					<li><a href="javascript:;">6</a></li>
					<li><a href="javascript:;">7</a></li>
					<li class="next"><a href="javascript:;">다음</a></li>
					<li class="last"><a href="javascript:;">마지막</a></li>
				</ul>
				<!--// faq list -->
			</div>
		</section>
		<!-- content-->

		<!-- footer -->
		<section include-html="../layout/footer.html"></section>
	</section>
</div>

<!-- 마크업 확인용 -->
<script type="text/javascript" src="../js/jquery.min_3.6.0.js"></script>
<script type="text/javascript" src="../js/includeHTML.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script>
	includeHTML();
</script>

</body>
</html>