<aside class="page-snb">
	<h4>쇼핑정보</h4>
	<ul class="snb">
		<li><a href="javascript:;" class="on">주문내역</a></li>
		<li><a href="javascript:;">취소&#47;교환&#47;반품</a></li>
		<li><a href="javascript:;">취소&#47;교환&#47;반품내역</a></li>
		<li><a href="javascript:;">리뷰</a></li>
		<li><a href="javascript:;">이벤트 결제</a></li>
	</ul>

	<h4>회원정보</h4>
	<ul class="snb">
		<li><a href="javascript:;">회원정보 관리</a></li>
		<li><a href="javascript:;">SNS 연결 관리</a></li>
		<li><a href="javascript:;">배송지 관리</a></li>
		<li><a href="javascript:;">환불계좌 관리</a></li>
		<li><a href="javascript:;">회원탈퇴</a></li>
	</ul>

	<h4>CS센터</h4>
	<ul class="snb">
		<li><a href="javascript:;">Q&A</a></li>
		<li><a href="javascript:;">FAQ</a></li>
		<li><a href="javascript:;">공지사항</a></li>
		<li><a href="javascript:;">매장안내</a></li>
	</ul>

	<h4>설정</h4>
	<ul class="snb">
		<li><a href="javascript:;">알림</a></li>
	</ul>

	<section class="side-logout"><a href="javascript:;">로그아웃</a></section>
</aside>