//공통버튼
.btn{background:#1B1B1F; border:1px solid #1B1B1F;;color:$co-w; font-size:14px; font-weight:600; padding:0 18px; height:35px; border-radius:2px;
	&:disabled{background:$co-disable; color:$co-w; border-color:$co-disable; cursor:default}
	&.btn-white{background:$co-w; color:$co-bk; border:1px solid $co-bk;
		&:disabled{color:$co-disable; border-color:$co-disable; cursor:default}
	}
}

//닫기
.btn-close{width:18px; height:18px; @include txt-blind;
	&::after, &::before{position:absolute; left:0; top:0; content:""; height:18px; width:2px; background:#B5B4B9}
	&::before{transform: rotate(45deg);}
	&::after{transform: rotate(-45deg);}
}

//form
input{
	&:read-only{background-color:#F8F7FB; border-color:#F2F1F7; color:#b5b4b9;
		&:focus{border-color:#f2f1f7}
	}
}
.txt{width:100%;border:1px solid $co-line; height:35px;border-radius:2px; padding:0 10px; font-weight:400; color:#3A3A3E;font-size:rem(14px);
	&:focus{border-color:$co-bk; }
	&::placeholder{color:#B5B4B9}
	&:disabled{background-color:#F8F7FB; border-color:#F2F1F7;  color:#b5b4b9;
	}
	&.wrong{border-color:$co-red}
	&.search{text-indent:26px; background:url($--image-url+'/common/ico-searchglass@24x24.svg') 8px 8px no-repeat; background-size:24px; }

	@include mobile{
		&.search{font-size:rem(14px); text-indent:rem(26px); background-position:rem(8px) rem(7px); background-size:rem(24px);
			&:focus {background-position:rem(7px) rem(6px);}
		}
	}
}

textarea{width:100%; @include scroll;
	&.txt{min-height:150px; padding:10px; }
}
select{width:100%; padding:0 25px 0 10px; background: #fff url($--image-url+'/common/arrow_down.svg') no-repeat right 10px top 8px; background-size:14px; border:1px solid $co-line; border-radius:2px; height:35px;}

.btn-type{position:relative; display:block;
	input{padding-right:20%;}
	button{height:32px; position:absolute; right:8px; top:8px; padding:0 12px;}
}

.error-msg{color:$co-red; font-size:12px; padding:8px 0;
	@include mobile{
		font-size: rem(12px); padding:rem(8px) 0; 
	}
}

//chk,radio
.inp{position: relative; padding:0 10px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size:rem(14px);
	input{
		&:checked ~ .checkmark{background: $co-bk;}
		&:checked ~ .checkmark:after{display:block;}
		&:disabled ~ .checkmark{border-color:$co-disable}
	}
	.checkmark{position: absolute; top: 0; left: 0; height: 16px; width: 16px; border-radius:1px; border:1px solid $co-bk;
		&::after{content: ""; position: absolute; display: none; left: 5px; top:1px; width:5px; height: 9px; border: solid $co-w; border-width: 0 1px 1px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
		&.radio{border-radius:50%;
			&::after{left:4px; top:4px; width:6px; height:6px; border-radius:50%; background:$co-w}
		}
	}
	@include mobile{
		padding:0 rem(10px) 0 rem(28px);
		.checkmark{width:rem(16px); height:rem(16px);
			&::after{left:rem(5px); top:rem(1px); width:rem(5px); height:rem(9px)}
			&.radio{
				&::after{left:rem(4px); top:rem(4px); width:rem(6px); height:rem(6px);}
			}
		}
	}
}
  
//모달창
.modal {display:none; position:absolute; top:0; left:0; z-index:999; background: #FFFFFF; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03); border-radius: 2px 2px 0px 0px;	
	&.shown {display:block;}
	.modal-inner {position:relative; z-index:10; padding:32px;}

	@include mobile{
		&, &.shown {display:none;}
	}
}

//layer
.modal-layer{display:none; position:fixed; z-index:15; left:0; top:0; width:100%; height:100%; overflow:auto; background:rgba(0,0,0,0.4); 
	.modal-content{position:absolute; left:50%; top:50%; transform:$tla;background:#fefefe; margin:auto; padding:32px; width:460px; box-shadow:0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03); -webkit-animation-name:animatetop; -webkit-animation-duration:0.4s; animation-name:animatetop; animation-duration:0.4s;
	@-webkit-keyframes animatetop{
		from{opacity:0}
		to{opacity:1}
	}
	@keyframes animatetop{
		from{opacity:0}
		to{opacity:1}
	}
		h2{font-size:24px; font-weight:600; line-height:32px; margin-bottom:24px;}
		.modal-body{max-height:536px; overflow:auto; font-size:16px;
			&::-webkit-scrollbar {width: 6px; }
			&::-webkit-scrollbar-thumb {height:10%; background: #1b1b1f; border-radius: 10px;}
			&::-webkit-scrollbar-track {background: none;}
		}
		.modal-footer{display:flex; gap:8px; margin-top:24px;
			button{width:100%; height:48px; font-size:14px}
		}
		.btn-close{position:absolute; right:32px;top:32px; width:24px; height:24px;
			&::after, &::before{background:$co-bk; left:50%;height:22px}
		}

		@include mobile{
			width:rem(320px); padding:24px;
			h2{line-height:26px; font-size:20px; margin-bottom:16px;}
			.modal-body{max-height:rem(294px)}
			.modal-footer{margin-top:16px;}
		}
	}
}

//filter chip
.filter-chip{display:flex; gap:8px; flex-wrap: wrap;
	li{
		a{display:block; line-height:32px; border:1px solid #E9E8EE; color:#6C6C71; border-radius:2px;padding:0 16px;}
		&.active{
			a{border-color:#1B1B1F; background:#1B1B1F; color:$co-w;}
		}
	}

	@include mobile{
		gap:rem(8px);
		li{
			a{line-height:rem(32px); border-radius:rem(2px); padding:0 rem(16px); font-size:rem(14px);}
		}
	}
}

//pagination
.pagination{display:flex; justify-content: center; gap:15px; align-items: center;
	li{height:32px; min-width:32px; display:flex; justify-content: center; align-items: center;
		a{font-family: 'messapia'; text-align:center; color:#B5B4B9; height:16px; padding:0 2px; font-size:12px;}
		&.active{
			a{color:#1B1B1F; position:relative;
				&::after{content:""; position:absolute; left:0; bottom:-2px; width:100%; height:2px; background:#1B1B1F}
			}
		}
		&.first, &.prev, &.next, &.last{
			min-width:20px;
			a{@include txt-blind; width:16px; height:16px; background-size:100%;}
		}
		&.first{
			a{background:url($--image-url+'/common/pagination_pprev_on.svg');}
			&.disable a{background:url($--image-url+'/common/pagination_pprev.svg') no-repeat;}
		}
		&.prev{
			a{background:url($--image-url+'/common/pagination_prev_on.svg');}
			&.disable a{background:url($--image-url+'/common/pagination_prev.svg');}
		}
		&.next{
			a{background:url($--image-url+'/common/pagination_next_on.svg')}
			&.disable a{background:url($--image-url+'/common/pagination_next.svg')}
		}
		&.last{
			a{background:url($--image-url+'/common/pagination_nnext_on.svg')}
			&.disable a{background:url($--image-url+'/common/pagination_nnext.svg')}
		}
		&.disable a{cursor:auto}
	}

	@include mobile{
		gap:8px;
		li{min-width:25px;}
	}
}

//모바일용 더보기 버튼
.btn-more{padding:rem(24px) rem(20px);
	.btn{background:$co-w; color:#6C6C71; font-size:rem(14px); line-height:rem(40px); border:1px solid #F2F1F7}

	@include desktop{
		display:none;
	}

	@include tablet{
		display:none;
	}
}

//여백
.mb50{margin-bottom:50px;}
.mt20{margin-top:20px;}

//width
.w10{width:10%}
.w20{width:20%}
.w30{width:30%}
.w40{width:40%}
.w50{width:50%}
.w100{width:100%}

//정렬
.align-center{text-align:center !important}
.align-left{text-align:left !important}
.flex-between{justify-content: space-between;}
.flex-left{justify-content: left;}

//line
.border-top{border-top:1px solid $co-line2}
.border-btm{border-bottom:1px solid $co-line2}

//상품뱃지
.badge{line-height:16px; display:inline-block; font-size:10px; padding:0 6px; border:1px solid $co-bk;
	&.bk{background:$co-bk; color:$co-w}
	&.blue{background:#F0EFFF; border-color:$co-blue; color:$co-blue}
	&+.badge{margin-left:-1px;}
}

//box
.box{background:#fff; border-top:1px solid $co-line; border-bottom:1px solid $co-line; padding:20px 0;}
.caution-txt{text-align:center; padding:100px 0;}
.form-type{display:flex; gap:10px; overflow:auto;flex-wrap: wrap; padding:0 20px; 
	li{display:flex; flex-direction: column; position:relative; line-height:20px;
		label{font-size:12px; padding-bottom:5px; }
		.s-tit{font-size:12px; color:#6C6C71; padding-top:10px;}
	}
	@include mobile{
		gap:5px;
	}
}
.form-type-txt{background:#f5f7fa; padding:20px; line-height:22px;}

.btn-area{padding:20px; display:flex; justify-content: right;
	button{margin:0 5px;}
}

//table
.table-type{position:relative;padding-bottom:10px; overflow:scroll; @include scroll;
	table{width:100%;
		th{border-bottom:1px solid $co-line2; height:30px; font-size:12px; font-weight:600;}
		tbody{
			// tr:nth-child(odd) td{background:#f5f7fa}
			tr:hover{background:#f5f7fa}
		}
		td{padding:12px 10px; text-align:center; line-height:22px; letter-spacing: -0.05px; color:#6c6c71;
			a{display:block; height:20px; @include txt-hd}
			a:hover{color:$co-blue;}
		}
		@include tablet{
			min-width:1000px; 
		}
		@include mobile{
			min-width:1000px; 
		}
	}
}
