//공통버튼
.btn{background:#1B1B1F; color:$co-w; font-size:16px; font-weight:600; width:100%; line-height:56px; border-radius:2px;
	&:disabled{background:$co-disable; color:$co-w; border:none; cursor:default}
	&.btn-white{background:$co-w; color:$co-bk; border:1px solid $co-bk;
		&:disabled{color:$co-disable; border-color:$co-disable; cursor:default}
	}

	@include mobile{
		font-size:rem(16px); line-height:rem(56px);
	}
}

//닫기
.btn-close{width:18px; height:18px; @include txt-blind;
	&::after, &::before{position:absolute; left:0; top:0; content:""; height:18px; width:2px; background:#B5B4B9}
	&::before{transform: rotate(45deg);}
	&::after{transform: rotate(-45deg);}
}

//form
.txt{border:1px solid #E9E8EE; line-height:40px; height:40px;border-radius:2px; padding:15px 16px; width:100%; font-weight:400;color:#3A3A3E;font-size:rem(14px);
	&:focus{border-color:$co-bk; border-width:1.5px}
	&::placeholder{color:#B5B4B9}
	&:disabled, &:read-only{background:#F8F7FB;
		&::placeholder{color:$co-disable}
	}
	&.wrong{border-color:$co-red}
	&.search{text-indent:26px; background:url($img-common+'ico-search-gr.svg') 8px 8px no-repeat; background-size:24px; }

	@include mobile{
		font-size: rem(14px); padding:rem(15px) rem(16px); line-height:rem(40px); height:rem(40px); border-radius:rem(2px);
		&.search{font-size:rem(14px); text-indent:rem(26px); background-position:rem(8px) rem(8px); background-size:rem(24px);}
	}
}

.error-msg{color:$co-red; font-size:12px; padding:8px 0;
	@include mobile{
		font-size: rem(12px); padding:rem(8px) 0; 
	}
}

//chk,radio
.inp{position: relative; padding:0 10px 0 28px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size:rem(14px);
	input{
		&:checked ~ .checkmark{background: $co-bk;}
		&:checked ~ .checkmark:after{display:block;}
		&:disabled ~ .checkmark{border-color:$co-disable}
	}
	.checkmark{position: absolute; top: 0; left: 0; height: 16px; width: 16px; border-radius:1px; border:1px solid $co-bk;
		&::after{content: ""; position: absolute; display: none; left: 5px; top:1px; width:5px; height: 9px; border: solid $co-w; border-width: 0 1px 1px 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
		&.radio{border-radius:50%;
			&::after{left:4px; top:4px; width:6px; height:6px; border-radius:50%; background:$co-w}
		}
	}
	@include mobile{
		padding:0 rem(10px) 0 rem(28px);
		.checkmark{width:rem(16px); height:rem(16px);
			&::after{left:rem(5px); top:rem(1px); width:rem(5px); height:rem(9px)}
			&.radio{
				&::after{left:rem(4px); top:rem(4px); width:rem(6px); height:rem(6px);}
			}

		}
	}
}
  

//layer
.modal-layer{display:none; position:fixed; z-index:15; left:0; top:0; width:100%; height:100%; overflow:auto; background:rgba(0,0,0,0.4); 
	.modal-content{position:absolute; left:50%; top:50%; transform:$tla;background:#fefefe; margin:auto; width:460px; box-shadow:0px 0px 5px rgba(0, 0, 0, 0.05), 0px 25px 35px rgba(0, 0, 0, 0.03); -webkit-animation-name:animatetop; -webkit-animation-duration:0.4s; animation-name:animatetop; animation-duration:0.4s;
	@-webkit-keyframes animatetop{
		from{opacity:0}
		to{opacity:1}
	}
	@keyframes animatetop{
		from{opacity:0}
		to{opacity:1}
	}
		h2{padding:0 24px; font-size:20px; font-weight:600; line-height:74px}
		.modal-body{padding:0 24px 24px; min-height:536px; overflow:auto; }
		.modal-footer{display:flex;}

		@include mobile{
			width:rem(320px); 
			h2{padding:0 rem(24px); line-height:rem(66px)}
			.modal-body{padding: 0 rem(24px) rem(24px); min-height:rem(302px)}
		}
	}
}

//filter chip
.filter-chip{display:flex; gap:8px; flex-wrap: wrap;
	li{
		a{display:block; line-height:32px; border:1px solid #E9E8EE; color:#6C6C71; border-radius:2px;padding:0 16px;}
		&.active{
			a{border-color:#1B1B1F; background:#1B1B1F; color:$co-w;}
		}
	}

	@include mobile{
		gap:rem(8px);
		li{
			a{line-height:rem(32px); border-radius:rem(2px); padding:0 rem(16px); font-size:rem(14px);}
		}
	}
}

//pagination
.pagination{display:flex; justify-content: center; gap:15px; align-items: center; margin:48px 0;
	li{height:32px; min-width:32px; display:flex; justify-content: center; align-items: center;
		a{font-family: 'messapia'; text-align:center; color:#B5B4B9; height:16px; padding:0 2px; font-size:12px;}
		&.active{
			a{color:#1B1B1F; position:relative;
				&::after{content:""; position:absolute; left:0; bottom:-2px; width:100%; height:2px; background:#1B1B1F}
			}
		}
		&.first, &.prev, &.next, &.last{
			min-width:20px;
			a{@include txt-blind; width:16px; height:16px; background-size:100%;}
		}
		&.first{
			a{background:url($img-common+'pagination_pprev_on.svg');}
			&.disable a{background:url($img-common+'pagination_pprev.svg') no-repeat;}
		}
		&.prev{
			a{background:url($img-common+'pagination_prev_on.svg');}
			&.disable a{background:url($img-common+'pagination_prev.svg');}
		}
		&.next{
			a{background:url($img-common+'pagination_next_on.svg')}
			&.disable a{background:url($img-common+'pagination_next.svg')}
		}
		&.last{
			a{background:url($img-common+'pagination_nnext_on.svg')}
			&.disable a{background:url($img-common+'pagination_nnext.svg')}
		}
		&.disable a{cursor:auto}
	}

	@include mobile{
		display:none;
	}
}

//모바일용 더보기 버튼
.btn-more{padding:rem(24px) 0 0;
	.btn{background:$co-w; color:#6C6C71; font-size:rem(14px); line-height:rem(40px); border:1px solid #F2F1F7}

	@include desktop{
		display:none;
	}

	@include tablet{
		display:none;
	}
}